 <main>
     <section id="deatils-page">
         <div class="wrapper">
             <div class="product-img">
                 <img src="{{housing.image}}">
             </div>
             <div class="product-info">
                 <div class="product-text">
                     <div class="product-text">
                         <h1>Name: {{housing.name}}</h1>
                         <h2>Type: {{housing.type}}</h2>
                         <h4>Year: {{housing.year}}</h4>
                         <h4>City: {{housing.city}}</h4>
                         <p>Description: {{housing.description}}</p>
                        
                         <!-- if there are already tenants of the housing, separate their names with a comma and a space ", "  -->
                        {{#if housing.rented}}
                         <p>People rented this housing: {{housing.rented}}</p>
                         {{else}}
                         <!-- If not display: -->
                         <p>People rented this housing: There are no tenants yet.</p>
                         {{/if}}
                     </div>
                 </div>
                 <!-- if there is no registered user, do not display buttons-->
                 {{#unless guest}}
                 <div class="product-btn">
                     {{#if owner}}
                     <!-- Only for registered user and creator of the housing offer-->
                     <a href="/housing/{{housing._id}}/edit" class="edit">Edit</a>
                     <a href="/housing/{{housing._id}}/delete" class="remove">Delete</a>
                     {{/if}}
                     {{#if logged}}
                     <!-- logged in user with available pieces-->
                     <a href="#" class="rentHome">Rent a home, available 2 housing</a>
                     <p class="alRentHome">You have already rent this home</p>
                     <!-- logged in user with no available pieces-->
                     <p class="no-housing">No Housing Available!</p>
                     {{/if}}
                 </div>
                {{/unless}}
             </div>
         </div>
     </section>
 </main>
